html {
    height: 100%;
}

body {
    background: #13521d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Header Style */

/* responsive headers based on https://www.w3schools.com/howto/howto_css_responsive_header.asp */

header {
    background: #677077;
    text-transform: uppercase;
    padding: 15px 20px 15px 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid black;
    box-shadow: 10px 10px 8px black;
    grid-gap: 10px;
}

header a {
    text-decoration: none;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    line-height: 50px;
}

header #logo {
    color: rgba(46, 192, 79, 1);
    font-size: 75px;
    text-shadow: 3px 3px 3px black;
    border: none;
}

header #navigation-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

header #navigation-header a {
    color: #b5b5b7;
    font-size: 20px;
    align-self: center;
}

header .current-page {
    border: 2px solid black;
    box-shadow: 3px 3px 3px black inset;
    background: #51585d;
}

/* Change background of links when hovered over */

header a:hover {
    background-color: #33383b;
    border: 2px solid black;
    box-shadow: 3px 3px 3px black inset;
}

/* Change Header Fromat Depending on Window Size */

@media screen and (max-width: 1280px) {
    header {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 720px) {
    header #navigation-header {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

/* Content Style */

section {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    background: #b5b5b7;
    padding: 20px 20px 20px 20px;
    max-width: 80%;
    min-height: 75%;
    overflow: auto;
    margin: 0 auto;
    border-left: 2px solid black;
    border-right: 2px solid black;
    box-shadow: 5px 5px 5px black;
}

@media screen and (max-width: 1080px) {
    section {
        display: block;
        min-height: 256px;
    }
}

.icon {
    border-radius: 10px;
    border: 2px solid black;
}

.icon:hover {
    opacity: 0.8;
}

/* Footer Style */

footer {
    position: relative;
    bottom: 0;
    background: #33383b;
    color: #b5b5b7;
    padding: 25px;
    border-top: 2px solid black;
    overflow: hidden;
    direction: rtl;
}

footer a {
    color: #b5b5b7;
}